<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Change your password</ion-title>
    <ion-label>&#64;{{ loggedUser?.userData.username }}</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #form="ngForm" (ngSubmit)="onFormSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input
            #email="ngModel"
            [(ngModel)]="model.email"
            name="email"
            required
            type="email"
            label="Enter your email"
            labelPlacement="floating"
            fill="outline"
          >
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button [disabled]="!form.valid" type="submit" shape="round"
            >Save</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
