ion-header {
  max-height: 53px;
  height: 100%;

  ion-toolbar {
    ion-buttons {
      ion-button {
        text-transform: capitalize;
        font-size: 1rem;
      }
    }
  }
}

ion-content {
  .article {
    border-radius: 0;
    box-shadow: none;
    ion-card-content {
      ion-grid {
        padding: 5px 5px 5px 0;
        margin: 5px 5px 5px 0;

        .profile-col {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          padding: 0 !important;
          margin: 0 !important;

          ion-avatar {
            max-width: 40px;
            width: 100%;
            height: 40px;
            max-height: 100%;
          }
        }

        .content-col {
          padding-left: 0 !important;
          margin-left: 0 !important;
          display: flex;
          flex-direction: column;

          .article-header {
            font-size: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            gap: 6px;
            height: 24px;

            .article-username {
              font-weight: bolder;
              display: inline-block;
              max-width: 100px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              vertical-align: middle;
            }

            ion-label {
              display: inline-block;
              max-width: 100px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              vertical-align: middle;
            }

            ion-icon {
              font-size: 1rem;
            }

            ion-buttons {
              margin: 0 0 0 auto;
              padding: 0;
            }
          }

          .article-content {
            font-size: 1rem;
            line-height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .show-more {
            display: block;
            font-size: 1rem;
            font-weight: lighter;
            color: var(--ion-color-primary);
            cursor: pointer;
          }
        }

        .action-buttons {
          padding: 0;
          right: 8px;

          ion-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 6px 0 0 0;

            ion-button {
              margin: 0 !important;
              padding: 0 !important;

              ion-label {
                margin-left: 4px;
              }
            }
          }
        }
      }
    }
  }

  .comment-area{
    ion-textarea {
      font-size: 1.3rem;
      font-weight: lighter;
      height: 120px;
      max-height: 100%;
    }
}
}
