<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Delete your account</ion-title>
    <ion-label>&#64;{{ loggedUser?.userData.username }}</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title>This will delete your account</ion-title>
        <ion-label
          >This operation cannot be undone. Are you sure you want to delete your
          account?</ion-label
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          type="submit"
          fill="clear"
          color="danger"
          class="ion-no-margin ion-no-padding"
          >Delete Account</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
