ion-header {
  transition: opacity 0.3s ease, transform 0.3s ease;
  will-change: opacity, transform;

  ion-title {
    font-size: 17px;
    font-weight: 600;
  }

  ion-label {
    font-size: 13px;
    margin-left: 20px;
    padding: 0;
    font-weight: lighter;
  }
}

ion-content {
  .cover-image {
    display: block;
    margin: 0;
    padding: 0;

    ion-img {
      max-width: 100%;
      width: 100%;
      max-height: 136px;
      height: 100%;
      object-fit: cover;
    }
  }

  .profile-area-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 0;
    bottom: 65px;

    ion-avatar {
      max-width: 90px;
      width: 100%;
      max-height: 90px;
      height: 100%;
      border: 2px solid #fff;
    }

    .unf-button {
      --color: #000;
      --background: #fff;
    }

    ion-button {
      font-size: 15px;
      padding: 5px;
      margin-top: 55px;
      text-transform: initial;
      --border-width: 1px;
    }
  }

  .profile-area-bottom {
    bottom: 75px;

    ion-title {
      font-weight: bold;
      padding: 0 20px;
    }

    ion-label {
      display: block;
      padding: 0 18px;
      font-weight: lighter;
    }

    .bio {
      margin: 10px 0 0 0;
    }
  }

  .profile-area-info {
    bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
    font-weight: lighter;
    padding: 0 18px;

    a {
      display: inline;
      text-decoration: none;

      ion-icon {
        margin-right: 2px;
      }
    }

    ion-label {
      display: inline;

      ion-icon {
        margin-right: 2px;
      }
    }
  }

  .profile-area-follow {
    bottom: 50px;
    padding: 0 18px;

    ion-label {
      font-weight: lighter;
      margin-right: 12px;

      span {
        font-weight: 600;
      }
    }
  }

  ion-segment {
    bottom: 30px;

    ion-segment-button {
      font-size: 1rem;
      text-transform: capitalize;
    }
  }

  .article {
    bottom: 30px;
    border-radius: 0;
    box-shadow: 0px 0.1px 1px 0.1px rgba(0, 0, 0, 0.2);

    ion-card-content {
      ion-grid {
        padding: 5px 5px 5px 0;
        margin: 5px 5px 5px 0;

        .repost-info {
          display: flex;
          align-items: center;
          font-size: 0.9rem;

          ion-icon {
            margin-left: 2rem;
            font-size: 1rem;
          }

          ion-label {
            margin-left: 6px;
          }
        }

        .profile-col {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          padding: 0 !important;
          margin: 0 !important;

          ion-avatar {
            max-width: 40px;
            width: 100%;
            height: 40px;
            max-height: 100%;
          }
        }

        .content-col {
          padding-left: 0 !important;
          margin-left: 0 !important;
          display: flex;
          flex-direction: column;

          .article-header {
            font-size: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            gap: 6px;
            height: 24px;

            .article-username {
              font-weight: bolder;
              display: inline-block;
              max-width: 100px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              vertical-align: middle;
            }

            ion-label {
              display: inline-block;
              max-width: 100px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              vertical-align: middle;
            }

            ion-icon {
              font-size: 1rem;
            }

            ion-buttons {
              margin: 0 0 0 auto;
              padding: 0;
            }
          }

          .article-content {
            font-size: 1rem;
            line-height: 20px;
          }

          .show-more {
            display: block;
            font-size: 1rem;
            font-weight: lighter;
            color: var(--ion-color-primary);
          }
        }

        .action-buttons {
          padding: 0;
          right: 8px;

          ion-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 6px 0 0 0;

            ion-button {
              margin: 0 !important;
              padding: 0 !important;

              ion-label {
                margin-left: 4px;
              }
            }
          }
        }
      }
    }
  }
}
