ion-header {
  max-height: 53px;
  height: 100%;
  transition: opacity 0.3s ease, transform 0.3s ease;
  will-change: opacity, transform;

  ion-toolbar {
    ion-avatar {
      max-width: 32px;
      width: 100%;
      height: 32px;
      max-height: 100%;
    }

    ion-searchbar {
      --clear-button-color: var(--ion-color-primary);
      --border-radius: 50px;
      --box-shadow: none;
    }
  }
}

ion-content {
  ion-segment {
    margin-top: 12px;

    ion-segment-button {
      font-size: 1rem;
      text-transform: capitalize;
    }
  }

  .topic-section {
    .topic {
      margin: 12px 0;
    }

    .topic:first-child {
      margin: 0;
    }

    .section-title {
      padding: 0px 10px;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 1px;
    }

    .topic {
      .topic-content {
        .topic-tag {
          font-weight: 400;
          font-size: 1rem;
        }

        .topic-post-count {
          font-weight: lighter;
          font-size: 0.9rem;
        }
      }
    }
  }

  .search-info {
    font-weight: lighter;
  }

  .search-for {
    font-weight: lighter;
    padding-left: 4px;
    border-bottom: 1px solid #eff3f4;
    padding-bottom: 10px;
  }

  .search-values {
    .search-item {
      margin: 0 0 8px 0;

      .search-item-content {
        .search-item-name {
          font-weight: 400;
          font-size: 1rem;
        }

        .search-item-username {
          font-weight: lighter;
          font-size: 0.9rem;
        }
      }
    }
  }

  ion-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
